[Unit]
 Description=Family Kiosk Cleaner script
 After=multi-user.target

[Service]
 Type=idle
 Environment="DISPLAY=:0"
 Environment="XAUTHORITY=/home/pi/.Xauthority"
 ExecStart=/usr/bin/python3 /home/pi/Projects/familiekiosk/src/FK_Cleaner.py --delete

[Install]
 WantedBy=multi-user.target
 WantedBy=graphical.target
